body{
background-size:cover;
}

h1{
font-family: 'Moo Lah Lah', cursive;
font-size:87;
color:rgb(90, 197, 247);
background-color: thistle;
width:80%;
box-shadow:-2px -0.1px 17px 17px rgb(53, 192, 192);
}

#label{
font-family: 'Rubik Beastly', cursive;
font-size:50;
color:tomato;
}

#confidence{
font-family: 'Neonderthaw', cursive;
font-size:50;
font-weight:bolder;
color:seagreen;
}

#show_sketch{
float:right;
margin-top: 20;
margin-right:10;
font-size:30;
}

canvas{
border:10px solid palevioletred;
margin-top:200px;
animation-name:ColourAnim;
animation-duration:5s;
animation-iteration-count:infinite;
}         

@keyframes ColourAnim{
from {box-shadow:1px 1px 40px rgb(127, 127, 243);}
to {box-shadow:1px 1px 40px rgb(20, 89, 153);}
}

#timer{
 float: right;
}
  
#sketch_to_be_drawn{
color: red;
font-weight:bolder;
font-size:20px;
}
  